## Used Car Price Prediction 
#### 1) Problem Statemnet 
###### This Dataset comprises of used cars sold on cardekho.com in India as well as important features of these cars .
###### If user can predict the price of the car based on input features .
###### Prediction resulst can be used to give new seller the price suggestion based on market condition .

#### 2) Data Collection 
###### The Dataset is collected from scrapping from cardekho website 
###### The data consists of 13 columns and 15411 rows

In [1]:
# Imporrting the librares 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import plotly.express as px
import warnings 
warnings.filterwarnings("ignore")
%matplotlib inline

In [2]:
df=pd.read_csv(r"C:\Users\PJugantM\Downloads\cardekho_dataset.csv\cardekho_dataset.csv",index_col=[0])
df.head()

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

### Data cleaning 
#### Handling Missing Values

In [3]:
df.isnull().sum()

car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

In [4]:
# remove unnecessery columns 
df.drop('car_name',axis=1,inplace=True)
df.drop('brand',axis=1,inplace=True)

In [5]:
df.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [6]:
df['model'].unique()

array(['Alto', 'Grand', 'i20', 'Ecosport', 'Wagon R', 'i10', 'Venue',
       'Swift', 'Verna', 'Duster', 'Cooper', 'Ciaz', 'C-Class', 'Innova',
       'Baleno', 'Swift Dzire', 'Vento', 'Creta', 'City', 'Bolero',
       'Fortuner', 'KWID', 'Amaze', 'Santro', 'XUV500', 'KUV100', 'Ignis',
       'RediGO', 'Scorpio', 'Marazzo', 'Aspire', 'Figo', 'Vitara',
       'Tiago', 'Polo', 'Seltos', 'Celerio', 'GO', '5', 'CR-V',
       'Endeavour', 'KUV', 'Jazz', '3', 'A4', 'Tigor', 'Ertiga', 'Safari',
       'Thar', 'Hexa', 'Rover', 'Eeco', 'A6', 'E-Class', 'Q7', 'Z4', '6',
       'XF', 'X5', 'Hector', 'Civic', 'D-Max', 'Cayenne', 'X1', 'Rapid',
       'Freestyle', 'Superb', 'Nexon', 'XUV300', 'Dzire VXI', 'S90',
       'WR-V', 'XL6', 'Triber', 'ES', 'Wrangler', 'Camry', 'Elantra',
       'Yaris', 'GL-Class', '7', 'S-Presso', 'Dzire LXI', 'Aura', 'XC',
       'Ghibli', 'Continental', 'CR', 'Kicks', 'S-Class', 'Tucson',
       'Harrier', 'X3', 'Octavia', 'Compass', 'CLS', 'redi-GO', 'Glanza',
       'Macan', 'X4', 'Dzire ZXI', 'XC90', 'F-PACE', 'A8', 'MUX',
       'GTC4Lusso', 'GLS', 'X-Trail', 'XE', 'XC60', 'Panamera', 'Alturas',
       'Altroz', 'NX', 'Carnival', 'C', 'RX', 'Ghost', 'Quattroporte',
       'Gurkha'], dtype=object)

In [7]:
# Getting all Different types of features 
num_features =[feature for feature in df.columns if df[feature].dtype != 'O' ]
print('Num of Numerical Features :',len(num_features))

cat_features =[feature for feature in df.columns if df[feature].dtype == 'O' ]
print('Num of Categorical Features :',len(cat_features))

discrete_features =[feature for feature in num_features if len(df[feature].unique()) <=25 ]
print('Num of Discrete Features :',len(discrete_features))

continuous_features =[feature for feature in num_features if feature not in discrete_features ]
print('Num of Continuous Features :',len(continuous_features))

Num of Numerical Features : 7
Num of Categorical Features : 4
Num of Discrete Features : 2
Num of Continuous Features : 5

In [8]:
## Independent and Dependent Features 
from sklearn.model_selection import train_test_split
X=df.drop(['selling_price'],axis=1)
y=df['selling_price']

In [9]:
X.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

#### Feature Encoding and Scaling 
###### One Hot Encoding for Columns which had lesser unique values and not ordinal 
###### One hot encoding is a process by which categorical variables are converted into a form that could be provided to ML algo to do a better job in prediction .

In [10]:
len(df['model'].unique())

120

In [11]:
df['model'].value_counts()

model
i20            906
Swift Dzire    890
Swift          781
Alto           778
City           757
              ...
Ghibli           1
Altroz           1
GTC4Lusso        1
Aura             1
Gurkha           1
Name: count, Length: 120, dtype: int64

In [12]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
X['model'] = le.fit_transform(X['model'])

In [13]:
X.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,7,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,54,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,118,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,7,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,38,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [14]:
## Create Column transformer with 3 types of transformers . 
num_features = X.select_dtypes(exclude='object').columns
onehot_columns = ['seller_type','fuel_type','transmission_type'] 

from sklearn.preprocessing import OneHotEncoder ,StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformer = StandardScaler()
oh_transformer =OneHotEncoder(drop='first') 

preprocessor =ColumnTransformer(
    [
        ("OneHotEncoder" ,oh_transformer,onehot_columns),
        ("StandardScaler",numeric_transformer,num_features)
    ],remainder='passthrough'
)

In [15]:
X=preprocessor.fit_transform(X)

In [16]:
pd.DataFrame(X)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.519714,0.983562,1.247335,-0.000276,-1.324259,-1.263352,-0.403022
1,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-0.225693,-0.343933,-0.690016,-0.192071,-0.554718,-0.432571,-0.403022
2,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.536377,1.647309,0.084924,-0.647583,-0.554718,-0.479113,-0.403022
3,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.519714,0.983562,-0.360667,0.292211,-0.936610,-0.779312,-0.403022
4,0.0,0.0,1.0,0.0,0.0,0.0,1.0,-0.666211,-0.012060,-0.496281,0.735736,0.022918,-0.046502,-0.403022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15406,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.508844,0.983562,-0.869744,0.026096,-0.767733,-0.757204,-0.403022
15407,0.0,0.0,0.0,0.0,0.0,1.0,1.0,-0.556082,-1.339555,-0.728763,-0.527711,-0.216964,-0.220803,2.073444
15408,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.407551,-0.012060,0.220539,0.344954,0.022918,0.068225,-0.403022
15409,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.426247,-0.343933,72.541850,-0.887326,1.329794,0.917158,2.073444
15410,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-1.024131,-1.339555,-0.825631,-0.407839,0.020999,0.395884,-0.403022

In [17]:
# separate dataset into train and test 
X_train , X_test , y_train , y_test = train_test_split(X,y,test_size=0.2, random_state=20)
X_train.shape,X_test.shape

((12328, 14), (3083, 14))

In [18]:
X_train

array([[ 0.        ,  0.        ,  1.        , ...,  2.88039083,
         3.66315896,  2.07344426],
       [ 0.        ,  0.        ,  0.        , ..., -1.32425883,
        -1.26335238, -0.40302241],
       [ 0.        ,  0.        ,  0.        , ..., -0.93469065,
        -0.7816387 , -0.40302241],
       ...,
       [ 0.        ,  0.        ,  1.        , ..., -0.55279869,
        -0.54892678,  0.83521092],
       [ 0.        ,  0.        ,  0.        , ..., -0.55471774,
        -0.43652693, -0.40302241],
       [ 0.        ,  0.        ,  1.        , ...,  0.02291783,
        -0.25012468, -0.40302241]])

### Model Training and Model Selection

In [19]:
from sklearn.ensemble import RandomForestRegressor 
from sklearn.linear_model import LinearRegression ,Ridge ,Lasso 
from sklearn.neighbors import KNeighborsRegressor 
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [20]:
## create a fucntion to evaluate model 
def evaluate_model(true,predicted):
    mae = mean_absolute_error(true,predicted)
    mse = mean_squared_error(true,predicted)
    rmse = np.sqrt(mean_squared_error(true,predicted))
    r2_square = r2_score(true,predicted)
    return mae, rmse,r2_square

In [29]:
## Beginning Model training 
models ={
    "Linear Regression":LinearRegression(),
    "Lasso":Lasso(),
    "Ridge":Ridge(),
    "K-Neighbors Regressor":KNeighborsRegressor(),
    "Decision Tree":DecisionTreeRegressor(),
    "Random Forest Regressor" :RandomForestRegressor(),
}
for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,y_train) # Train the model 

    #make prediction 
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    #Evaluate train and test dataset 
    model_train_mae , model_train_rmse,model_train_r2 =evaluate_model(y_train,y_train_pred)
    model_test_mae ,model_test_rmse ,model_test_r2 = evaluate_model(y_test,y_test_pred)

    print(list(models.keys())[i])
    print('Model performance for Training set')
    print('- Root mean squared error : {:.4f}'.format(model_train_rmse))
    print('- mean Absolute Error : {:.4f}'.format(model_train_mae))
    print('- R2 score :{:.4f}'.format(model_train_r2))

    print(' ------------------------------------------------------ ')
    print('Model performance for Test set')
    print('- Root mean squared error : {:.4f}'.format(model_test_rmse))
    print('- mean Absolute Error : {:.4f}'.format(model_test_mae))
    print('- R2 score :{:.4f}'.format(model_test_r2))

    print('='*35)
    print('\n')

Linear Regression
Model performance for Training set
- Root mean squared error : 566288.8305
- mean Absolute Error : 275033.9452
- R2 score :0.6200
 ------------------------------------------------------
Model performance for Test set
- Root mean squared error : 441883.0069
- mean Absolute Error : 265373.0545
- R2 score :0.6856
===================================


Lasso
Model performance for Training set
- Root mean squared error : 566288.8366
- mean Absolute Error : 275032.1484
- R2 score :0.6200
 ------------------------------------------------------
Model performance for Test set
- Root mean squared error : 441881.3585
- mean Absolute Error : 265367.4712
- R2 score :0.6856
===================================


Ridge
Model performance for Training set
- Root mean squared error : 566289.7912
- mean Absolute Error : 274994.1306
- R2 score :0.6200
 ------------------------------------------------------
Model performance for Test set
- Root mean squared error : 441858.3161
- mean Absolute Error : 265300.1845
- R2 score :0.6856
===================================


K-Neighbors Regressor
Model performance for Training set
- Root mean squared error : 323703.1275
- mean Absolute Error : 90764.0919
- R2 score :0.8758
 ------------------------------------------------------
Model performance for Test set
- Root mean squared error : 254758.4810
- mean Absolute Error : 108991.7937
- R2 score :0.8955
===================================


Decision Tree
Model performance for Training set
- Root mean squared error : 20345.4375
- mean Absolute Error : 4986.1427
- R2 score :0.9995
 ------------------------------------------------------
Model performance for Test set
- Root mean squared error : 312410.1089
- mean Absolute Error : 125042.4343
- R2 score :0.8428
===================================


Random Forest Regressor
Model performance for Training set
- Root mean squared error : 130155.8763
- mean Absolute Error : 40005.5567
- R2 score :0.9799
 ------------------------------------------------------
Model performance for Test set
- Root mean squared error : 200274.5330
- mean Absolute Error : 94789.7518
- R2 score :0.9354
===================================

###### We will now do the Hyperparameter tuning for the two best Alsorithms that we got i.e KNN and RF

In [31]:
# initialize few parameter for Hyperparameter tuning 
knn_params={'n_neighbors':[2,3,10,20,40,50]}
rf_params ={'max_depth':[5,8,15,None,10],
           'max_features':[5,7,"auto",8],
           'min_samples_split':[2,8,15,20],
           'n_estimators':[100,200,500,1000]}

In [32]:
#models list for Hyperparameter tuning 
randomcv_models =[('KNN',KNeighborsRegressor(),knn_params),
                  ('RF',RandomForestRegressor(),rf_params) 
    ]

In [33]:
from sklearn.model_selection import RandomizedSearchCV

model_param={}
for name ,model ,params in randomcv_models:
    random=RandomizedSearchCV(estimator=model,
                              param_distributions=params,
                              n_iter=100,
                              cv=3,
                              verbose=2,
                              n_jobs=-1)
    random.fit(X_train,y_train)
    model_param[name] = random.best_params_ 

for model_name in model_param:
    #print(f"-----------------------Best Params for {model_name}-----------")
    print(model_param[model_name])

Fitting 3 folds for each of 6 candidates, totalling 18 fits
Fitting 3 folds for each of 100 candidates, totalling 300 fits
{'n_neighbors': 10}
{'n_estimators': 200, 'min_samples_split': 2, 'max_features': 5, 'max_depth': None}

In [35]:
# Retraining the models with best parameters 
models ={
    "Random Forest Regressor":RandomForestRegressor(n_estimators=200,
                                                    min_samples_split=2,
                                                    max_features= 5, 
                                                    max_depth= None,
                                                    n_jobs=-1),
    "K-Neighbors regressor":KNeighborsRegressor(n_neighbors=10, n_jobs=-1)
}
for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,y_train)

    #Make predictions 
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test) 

    #Evaluate train and test dataset 
    model_train_mae , model_train_rmse,model_train_r2 =evaluate_model(y_train,y_train_pred)
    model_test_mae ,model_test_rmse ,model_test_r2 = evaluate_model(y_test,y_test_pred)

    print(list(models.keys())[i])
    print('Model performance for Training set')
    print('- Root mean squared error : {:.4f}'.format(model_train_rmse))
    print('- mean Absolute Error : {:.4f}'.format(model_train_mae))
    print('- R2 score :{:.4f}'.format(model_train_r2))

    print(' ------------------------------------------------------ ')
    print('Model performance for Test set')
    print('- Root mean squared error : {:.4f}'.format(model_test_rmse))
    print('- mean Absolute Error : {:.4f}'.format(model_test_mae))
    print('- R2 score :{:.4f}'.format(model_test_r2))

    print('='*35)
    print('\n')

Random Forest Regressor
Model performance for Training set
- Root mean squared error : 123812.7562
- mean Absolute Error : 38989.5068
- R2 score :0.9818
 ------------------------------------------------------
Model performance for Test set
- Root mean squared error : 194839.5792
- mean Absolute Error : 92756.3877
- R2 score :0.9389
===================================


K-Neighbors regressor
Model performance for Training set
- Root mean squared error : 357431.0442
- mean Absolute Error : 104101.1204
- R2 score :0.8486
 ------------------------------------------------------
Model performance for Test set
- Root mean squared error : 252926.5988
- mean Absolute Error : 110429.2734
- R2 score :0.8970
===================================